<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
         	.bg-1 { 
                background-color: #1abc9c;
                color: #ffffff;
            }
            .error {
                color: red;
            }
  	    </style>
		<title>Atlanta Community Gardens</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
        <script src="public/scripts/scriptmanage.js"></script>
    </head>
    <body>
	<nav class="navbar navbar-default">
  		<div class="container">
    		<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span> 
      		</button>
      	<a class="navbar-brand" href="#"></a>
    		</div>
    		<div class="collapse navbar-collapse" id="myNavbar">
      			<ul class="nav navbar-nav navbar-right">
      			</ul>
    		</div>
  		</div>
	</nav>
	
	<div class="container-fluid bg-1 text-center">
		<h3>Atlanta Community Gardens</h3>	
	</div>
	
	<div class="container-fluid bg-1 text-center">
        <h3>Manage Property</h3>
        <% var prop = info[0]; %>
        <form action='/manageProperty?id=<%=prop.id%>' method="POST" id='ownerForm'>	        
            <h4>Property ID: <span><%= prop.id %></span></h4>
            <h4>Property Type: <span id="proptype" name="proptype"><%= prop.property_type %></span></h4>
            <div class="form-group">
                <label for="propertyname">Property Name:</label>
                <input type="text" class="form-control" id="propertyname" name="propname"
                    minlength="5" value="<%=prop.name%>" required>
            </div>	
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" name="propaddress"
                    value="<%=prop.street%>" required>
            </div>	
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" name="propcity"
                    value="<%=prop.city%>" required>
            </div>	
            <div class="form-group">
                <label for="zip">Zip:</label>
                <input type="number" class="form-control" id="zip" name="propzip" 
                    value="<%=prop.zip%>" minlength="5" maxlength="5" required>
            </div>	
            <div class="form-group">
                <label for="acres">Acres:</label>
                <input type="number" class="form-control" id="acres" name="propacres"
                    value="<%=prop.size%>" required>
            </div>	
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Public?
                <select class="form-control" name="is_public" id="sel_public">
                    <option <%= prop.is_public == true ? 'selected' : '' %>>Yes</option>
                    <option <%= prop.is_public == false ? 'selected' : '' %>>No</option>
                </select>
                </button>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Commercial?
                <select class="form-control" name="is_commercial" id="sel_commercial">
                    <option <%= prop.is_commercial == true ? 'selected' : '' %>>Yes</option>
                    <option <%= prop.is_commercial == false ? 'selected' : '' %>>No</option>
                </select>
                </button>
            </div>
            <div class="container-fluid bg-1 text-center">	
                <button type="submit" class="btn btn-default btn-lg">Save</button>
                <a href="/deleteProperty?id=<%=prop.id%>" class="btn btn-default btn-lg">Delete Property</a>
            </div>	
        </form>            
        <table id="property_items" name="property_items" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Property Items</th>
                </tr>
            </thead>
            <tbody>
                <% for (i = 0; i < prop_items.length; i+=1) { %>
                    <tr name="<%= prop_items[i].item_name %>">
                        <td><a href="/deletePropertyItem?id=<%=prop.id%>&amp;item_name=<%=prop_items[i].item_name%>">Delete</a></td>
                        <td name="prop_item_name"><%= prop_items[i].item_name %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <form action='/addItemToProperty?id=<%=prop.id%>&amp;type=<%=prop.property_type%>' method="POST">
            <h3>Add New (approved) Animals or Crops to Property:</h3>
            <div class="dropdown" id="dd_animal">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Animal
                <select class="form-control" name="animal" id="sel_animal">
                    <option>None</option>
                <% for (i = 0; i < items.length; i+=1) { 
                    if (items[i].item_type === 'Animal') { %>
                    <option><%= items[i].item_name %></option>
                    <% } %>
                <% } %>
                </select>
                </button>
            </div>	
            <div class="dropdown" id="dd_farmcrop">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Crop
                <select class="form-control" name="farmcrop" id="sel_farmcrop">
                    <option>None</option>
                    <% for (i = 0; i < items.length; i+=1) { 
                        if (items[i].item_type != 'Animal') { %>
                            <option><%= items[i].item_name %></option>
                        <% } %>
                    <% } %>
                </select>
                </button>
            </div>
            <div class="dropdown" id="dd_gardencrop">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Crop
                <select class="form-control" name="gardencrop" id="sel_gardencrop">
                    <option>None</option>
                    <% for (i = 0; i < items.length; i+=1) { 
                        if (items[i].item_type === 'Flower' || items[i].item_type === 'Vegetable') { %>
                        <option><%= items[i].item_name %></option>
                        <% } %>
                    <% } %>
                </select>
                </button>
            </div>	
            <div class="dropdown" id="dd_orchardcrop">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Crop
                <select class="form-control" name="orchardcrop" id="sel_orchardcrop">
                    <option>None</option>
                    <% for (i = 0; i < items.length; i+=1) { 
                        if (items[i].item_type === 'Fruit' || items[i].item_type === 'Nut') { %>
                        <option><%= items[i].item_name %></option>
                        <% } %>
                    <% } %>
                </select>
                </button>
            </div>		
            <div class="container-fluid bg-1 text-center">	
                <input type="submit" class="btn btn-default btn-lg" value="Add" >
            </div>
        </form>		
	
        <form action="/requestItem?id=<%=prop.id%>&amp;type=<%=prop.property_type%>" method="POST">
            <div class="form-group">    
                <h3>Request Approval of New Crop or Animal:</h3>
                <br/>
                <div class="dropdown" id="dd_farmtypes">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type
                    <select class="form-control" name="farm_item_type" id="sel_farmcroptype">
                        <option>Animal</option>
                        <option>Vegetable</option>
                        <option>Flower</option>
                        <option>Fruit</option>
                        <option>Nut</option>
                    </select>
                    </button>
                </div>
                <div class="dropdown" id="dd_gardentypes">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type
                    <select class="form-control" name="garden_item_type" id="sel_gardencroptype">
                        <option>Vegetable</option>
                        <option>Flower</option>
                    </select>
                    </button>
                </div>
                <div class="dropdown" id="dd_orchardtypes">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type
                    <select class="form-control" name="orchard_item_type" id="sel_orchardcroptype">
                        <option>Fruit</option>
                        <option>Nut</option>
                    </select>
                    </button>
                </div>            
                <label for="item_to_add">Name of item to add:</label>
                <input type="text" class="form-control" id="item_to_add" name="item_name">
            </div>
            <div class="container-fluid bg-1 text-center">	
                <button type="submit" class="btn btn-default btn-lg">Request New Item</button>
                <p name="request_response"><%= request_response %></p>
            </div>
        </form>
		
        <style>
            .bg-4 { 
                padding-top: 50px;
                background-color: #2f2f2f;
                color: #ffffff;
            }
        </style>

        <footer class="container-fluid bg-4 text-center">
            
            <p> <a href="http://cc.gatech.edu">College of Computing at GA Tech</a></p> 
        </footer>
    </body>
</html>

