<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
            .bg-1 { 
        background-color: #1abc9c;
        color: #ffffff;
        }
            .error {
                color:red;
            }
	    </style>
		<title>Atlanta Community Gardens</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            </button>
        <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
            </div>
        </nav>
        <div class="container-fluid bg-1 text-center">
            <h3>Atlanta Community Gardens</h3>	
            <h3></h3>
        </div>
        <% prop = results[0]; %>
        <div class="container-fluid bg-1 text-center">
            <h2><%= prop.name %></h2>
            <h3>Property Details</h3>
        </div>
        <div class="container-fluid bg-1 text-left">
                <label for="propname">Name:</label>
                <p id="propname"> <%= prop.name %></p>
            <label for="propowner">Owner:</label><p id="propowner"><%= prop.owner %></p>
            <label for="propemail">Email:</label><p id="propemail"><%= prop.email %></p>
            <label for="propstreet">Address:</label><p id="propstreet"> <%= prop.street %></p>
            <label for="propcity">City: </label><p id="propcity"> <%= prop.city %></p>
            <label for="propzip">Zip:</label><p id="propzip"> <%= prop.zip %></p>
            <label for="propsize">Size (Acres): </label><p id="propsize"> <%= prop.size %></p>
            <label for="proptype">Type: </label><p id="proptype"> <%= prop.property_type %></p>
            <label for="proppublic">Public: </label><p id="proppublic"> <%= prop.is_public == true ? "Yes" : "No" %></p>
            <label for="propcommercial">Commercial</label><p id="propcommercial"> <%= prop.is_commercial == true ? "Yes" : "No" %></p>
            <label for="propid">ID: </label><p id="propid"> <%= prop.id %></p>
            <label for="propvisits">Visits: </label><p id="propvisits"> <%= prop.num_visits %></p>
            <label for="proprating">Average Rating: </label><p id="proprating"> <%= prop.avg_rating == null ? "N/A" : prop.avg_rating %></p>
        </div>
        <div class="container-fluid bg-1 text-left">
            <% if (prop.property_type == 'Farm') { %>
                <label for="animals">Animals:</label>
                 <p id="animals"><% for (i = 0; i < items.length; i+=1) { %>
                   <% if (items[i].item_type == 'Animal') { %>
                        <%= items[i].item_name %>
                            <% if (i < items.length - 1) { %>
                        ,
                        <% } %> 
                    <% } %> 
                <% } %>
            <% } %></p>
            <label for="crops">Crops:</label>
            <p id="crops"><% for (i = 0; i < items.length; i+=1) { %>
              <% if (items[i].item_type != 'Animal') { %>
                   <%= items[i].item_name %>
                       <% if (i < items.length - 1) { %>
                   ,
                   <% } %> 
               <% } %> 
           <% } %>    

        </div>
        <div class="form-group">
            <form action="/viewUnvisitProperty?id=<%= prop.id %>" method="POST" id="regVisitorForm">
                <button type="submit" class="btn btn-primary">Unlog Visit</button>
            </form>
        </div>
        <div class="btn-group btn-group-lg">
            <a href="/main/Visitor" type="button" class="btn btn-primary">Back</a>

        </div>

        <style>
            .bg-4 { 
                padding-top: 50px;
            background-color: #2f2f2f;
            color: #ffffff;
            }
        </style>

        <footer class="container-fluid bg-4 text-center">
            <p> <a href="https://www.cc.gatech.edu">College of Computing at GA Tech</a></p> 
        </footer>
    </body>
</html>