<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
            .bg-1 { 
        background-color: #1abc9c;
        color: #ffffff;
        }
	    </style>
		<title>Atlanta Community Gardens</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/scripts/themes/blue/style.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            </button>
        <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
            </div>
        </nav>
        <div class="container-fluid bg-1 text-center">
            <h3>Atlanta Community Gardens</h3>	
            <h3></h3>
        </div>
        <div class="container-fluid bg-1 text-center">
            <h2>Confirmed Properties</h2>
            <table id="approved_properties" class="tablesorter table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th id='name'>Name</th>
                        <th id='street'>Address</th>
                        <th id='city'>City</th>
                        <th id='zip'>Zip</th>
                        <th id='size'>Size</th>
                        <th id='type'>Type</th>
                        <th id='is_public'>Public</th>
                        <th id='is_commercial'>Commercial</th>
                        <th id='id'>ID</th>
                        <th id='approved_by'>Verified By</th>
                        <th id='rating'>Avg. Rating</th>
                    </tr>
                </thead>
                <tbody>
                <% for (i = 0; i < results.length; i+=1) { %>
                    <tr>
                        <% prow = results[i]; %>
                        <td><a href='/manageProperty?id=<%= prow.id %>'>Manage</a></td>
                        <td><%= prow.name %></td>
                        <td><%= prow.street %></td>
                        <td><%= prow.city %></td>
                        <td><%= prow.zip %></td>
                        <td><%= prow.size %></td>
                        <td><%= prow.property_type %></td>
                        <% if (prow.is_public === 0) { %>
                            <td>False</td>
                        <% } else { %>
                            <td>True</td>
                        <% } %>
                        <% if (prow.is_commercial === 0) { %>
                            <td>False</td>
                        <% } else { %>
                            <td>True</td>
                        <% } %>                        
                        <td><%= prow.id %></td>
                        <td><%= prow.approved_by %></td>
                        <% if (prow.avg_rating === null) { %>
                            <td>N/A</td>
                        <% } else { %>
                            <td><%= prow.avg_rating %></td>
                        <% } %>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <form action="/viewApprovedProperties" method="POST">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search By
                    <select id="sel_searchterm" class="form-control" id="sel_searchattribute" name="searchattribute">
                        <option>Name</option>  
                        <option>Street</option>
                        <option>City</option>
                        <option>Zip</option>
                        <option>Size</option>
                        <option>Type</option>
                        <option>Public</option>
                        <option>Commercial</option>
                        <option>ID</option>
                        <option>Verified By</option>
                        <option>Avg Rating</option>
                    </select>
                </button>
            </div>
            <div class="form-group">
                <label for="searchterm">Enter Search Term:</label>
                <input type="text" class="form-control" id="searchterm" name="searchterm">
                <button type="submit" class="btn btn-primary">Search Properties</button>
            </div>
        </form>
        <div class="container">
            <div class="btn-group btn-group-lg">
                <a href="/main/Admin" type="button" class="btn btn-primary">Back</a>
            </div>
        </div>
        <style>
            .bg-4 { 
                padding-top: 50px;
            background-color: #2f2f2f;
            color: #ffffff;
            }
        </style>

        <footer class="container-fluid bg-4 text-center">
            <p> <a href="https://www.cc.gatech.edu">College of Computing at GA Tech</a></p> 
        </footer>
        <script src="/public/scripts/jquery.tablesorter.js"></script>
        <script>$('#approved_properties').tablesorter();</script>
    </body>
</html>